---
layout: minimal_default
title: Lei's Web | Google Summer of Code 2015
noindex: True
---
<h1>Google Summer of Code 2015</h1>
<p>I am happily selected as a participating student of Google Summer of Code 2015. My project is "Implement and create new documentation toolchain", mentored by
CentOS Project. My mentor is Karsten 'quaid' Wade.</p>
<p>Here is the place I record this project.</p>
<p>For Chinese articles, please refer to <a href="http://blog.yangl1996.com/?cat=34">my blog</a>.</p>
{% for post in site.posts %}
    {% if post.gsoc2015 %}
    <a href="{{ post.url }}">{{ post.title }}</a></br>
    {% if post.introduction %}
      {{ post.introduction }}
    {% endif %}
    </br></br>
    <hr/>
    {% endif %}
{% endfor %}
