<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>
		
		<!-- begin photo -->
		{% if site.logo %}
			<img src="{{ site.logo | relative_url }}" alt="Logo" />
		{% endif %}
		<!-- end photo -->

        <!-- begin short bio -->
        <p>{{ site.shortbio }}</p>
        <!-- end short bio -->
		
		<!-- begin electronic post -->
        <p>
            <img src="static/mail-symbol.svg" class="octicons">
        	{% include mail.html %}
        </p>
		<!-- end electronic post -->

        <!-- begin openpgp public key -->
        <p>
            <img src="static/key-symbol.svg" alt="OpenPGP:" class="octicons">
            <a href="{{ site.pgp-pubkey-link }}" target="_blank">
                <span class="pgp-fingerprint">
                    <span>{{ site.pgp-pubkey | slice: 0, 4 }}</span>
                    <span>{{ site.pgp-pubkey | slice: 4, 4 }}</span>
                    <span>{{ site.pgp-pubkey | slice: 8, 4 }}</span>
                    <span>{{ site.pgp-pubkey | slice: 12, 4 }}</span>
                </span>
            </a>
        </p>
        <!-- end openpgp public key-->
		
		<hr/>
		{% include sidebar.html %} 
      </header>
