{% include minimal_header.html %}
<section>
    <h1>{{ page.title }}</h1>
    {% if page.file %}
    <a href="/static/pdfs/{{ page.file }}">
        <img src="/static/pdf.png" align="right">
    </a>
    {% endif %}
    <b>{{ page.journal }}</b></br></br>
    {% if page.authors %}
        Authors: {{ page.authors }}</br>
    {% endif %}
    {% if page.school %}
        School: {{ page.school }}</br>
    {% endif %}
    {% if page.date %}
        Publication Date: {{ page.date | date_to_long_string }}</br>
    {% endif %}
    <hr>
    {{ content }}
</section>
{% include minimal_foot.html %}
